@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
}


body {
    background-color: #ece6df;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Navbar */

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 100px;
    padding: 50px;
    background-color: #3b3b3b;
}

.logo{
    font-size: 50px;
    color: #fff;
    font-family: Lobster;
}



.nav-links a {
    margin: 1em;
    text-decoration: none;
    color: #fff;;
}

.nav-links a:hover {
    color: #ffcc00;
}



/* Section that contains all product cards */
.products {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    
}

/* Div that contains the product name in an h2 */
.product-cards {
    margin: 20px;
    background-color:#ece6df;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    align-content: space-between;
    
}
.product-cards h2 {
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #3b3b3b;
    margin-bottom: 10px;
   
}

/* Div that contains the img and p tag */

.product-image {
    margin-bottom: 10px;
}
.product-image  img{
    display: block;
    width: 400px;;
    margin: 0px 5px 5px 5px;
  
}

.description {
    text-align: center;
    width: 400px;
    padding: 10px 0px;
}

.avl {
    background-color:  #fbefe9;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}

/* Specs and price divs */

.specs p, header, 
.price p, header{
    font-weight: bold;
}

.specs p,
.price p {
    text-indent: 10px;
}


.specs , .price{
    margin-bottom: 10px;
    padding-left:10px;
}

.soldout {
    position: absolute;
    padding-top: 100px;
}




/* Media Queries */

@media (max-width: 800px){
    nav {
        justify-content: space-around;
    }
   
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    .nav-links a {
        display: block;
    }
  

}